<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>291773878384-nk7c3q2u2csu13acs8ccuo6so7ikksiq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.291773878384-nk7c3q2u2csu13acs8ccuo6so7ikksiq</string>
	<key>API_KEY</key>
	<string>AIzaSyBiyKsAufnsFgRZj5bk86LiZoFzOgY41ao</string>
	<key>GCM_SENDER_ID</key>
	<string>291773878384</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.soongin.GoTogeDog</string>
	<key>PROJECT_ID</key>
	<string>gotogedog</string>
	<key>STORAGE_BUCKET</key>
	<string>gotogedog.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:291773878384:ios:e0c9515e7491cf4bba24b5</string>
</dict>
</plist>